* {
  margin: 0;
  box-sizing: border-box;
}

.bg-test {
  background: #f8f9fa;
}

.c-pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

body {
  background-size: cover;
  background: url(./img/1.png) center;
}

.body {
  background: #100f107a;
  max-height: 100rem;
}

#tempSwitch {
  width: 4em;
  height: 2em;
}

.form-control-sm {
  height: fit-content !important;
}

.temp {
  width: 80px;
}

.mt-8 {
  margin-top: 10rem !important;
}
